<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Pokemon</title>
  <link href="https://fonts.googleapis.com/css?family=Caveat|Roboto|Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/new.css">
</head>
<body>
  <div class = "page">
    <header>
      <h1>Edit Pokémon</h1>
      <a href = "/pokedex"><button class = "button-create">Back to Pokédex</button></a>
    </header>
    <main>
      <form action='/pokedex/<%=index%>?_method=PUT' method = "POST">
        <label for ="name">Name</label>
        <input type="text" name="name" id="name" value= "<%=pokemon.name%>">
        <label for ="img">Image (URl)</label>
        <input type="text" name="img" id="img" value= "<%=pokemon.img%>">
        <label for ="id">ID</label>
        <input type="text" name="id" id="id" value= "<%=pokemon.id%>">
        <label for ="type">Type</label>
        <input type="text" name="type" id="type" value= "<%=pokemon.type%>">
        <label for ="HP">HP</label>
        <input type="text" name="hp" id="hp" value= "<%=pokemon.stats.hp%>">
        <label for ="attack">Attack</label>
        <input type="text" name="attack" id="attack" value= "<%=pokemon.stats.attack%>">
        <label for ="defense">Defense</label>
        <input type="text" name="defense" id="defense" value= "<%=pokemon.stats.defense%>">
        <label for ="spattack">SP Attack</label>
        <input type="text" name="spattack" id="spattack" value= "<%=pokemon.stats.spattack%>">
        <label for ="spdefense">SP Defense</label>
        <input type="text" name="spdefense" id="spdefense" value= "<%=pokemon.stats.spdefense%>">
        <label for ="speed">speed</label>
        <input type="text" name="speed" id="speed" value= "<%=pokemon.stats.speed%>">
        <button class = "button-delete" type="submit" value="Submit Changes">Submit Changes</button>
      </form>
    </main>
  </div>
</body>
</html>