<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class = "page">
    <header>
        <h1>POKEDEX</h1>
        <nav>
        <a id = "create" href="/pokedex/new"><button class="button-create">Create New Pokemon!</button></a>
        <br>
        <br>
        </nav>
    </header>
    <% pokedex.forEach((pokemon, index) => { %>
        <div class = "entry">
            <a class = "poke-name" href="/pokedex/<%=index%>"><%=pokemon.name%></a>
            <img src ="<%=pokemon.img%>">
            <div class = "button-container">
                <form class = "delete-form" action = "/pokedex/<%=index%>?_method=DELETE" method = "POST">
                    <button class = "button-delete">DELETE</button>
                </form>
                <div id = "edit">
                    <a href="/pokedex/<%=index%>/edit"><button class= "button-edit">EDIT</button></a>
                </div>
            </div>
        </div>
   <% }) %>
</div>
</body>
</html>